.button-inline {
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 5px 10px;
  font-size: inherit;
  cursor: pointer;
  border: 1px solid hsl(217, 71%, 53%);
}

.button-active {
  border-color: #38BB6C !important;
}